h1{
    background-color: darkseagreen;
    color: rgb(24, 90, 41);
    font-family: "Arial";
    font-size: 15px;
}
h2{
    background-color: coral;
    color: darkcyan;
    font-family: "Arial";
    font-size: 15px;
}